<!DOCTYPE html>
<style>
.select{
  border-radius:3px
}
</style>
<html>
<head>
<link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" >
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>Standup NLP</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
    </script>
  {% include 'nav.html' %}
</head>

<body>
  <div class="column">
    <div class="container bg-primary" style='border-radius:10px'>
      <center><h1>Comedian Search</h1></center><br>
      <div class="row">
        <div class="col-sm-6">
            <input type="text" id="fname" class="form-control" placeholder="First Name">
        </div>
        <div class="col-sm-6">
            <input type="text" id="lname" class="form-control" placeholder="Last Name">
        </div>
      </div>
      <div class="row">
        <center><h3>Sort</h3>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
            <select id="key" style='color:black; border-radius:4px;'>
                    <option value='alpha'>Alphabetical</option>
                    <option value='age'>Age</option>
                    <option value='words'>Total Words</option>
                    <option value='uwords'>Unique Words</option>
                    <option value='runtime'>Total Runtime</option>
                    <option value='wpm'>Talking Speed</option>
                    <option value='rating'>Average IMDB Rating</option>
                    <option value='numspec'>Number of Specials</option>
                </select>
        </div>
        <div class='col-sm-3'>
            <select id="order" style='color:black; border-radius:4px;'>
                    <option value='asc'>Ascending</option>
                    <option value='desc'>Descending</option>
            </select>
        </div>
        </center>
      </div>
      <br>
    </div>
    <div class='container'>
      <span id="recSpan"></span>
    </div>

  </div>
    
{%include 'footer.html'%}

    <script>

      'use strict';

      function handleResponse(response) {
        $('#recSpan').html(response);
      }

      let requestRecs = null;

      function getResults() {
        let url = '/comicSearchResults';

        let data = {};
        data['fname'] = $('#fname').val()
        data['lname'] = $('#lname').val()
        data['key'] = $('#key').val()
        data['order'] = $('#order').val()
        console.log(data)
        if (requestRecs != null)
          requestRecs.abort();

        requestRecs = $.ajax(
          {
            type: 'POST',
            url: url,
            data: data,
            success: handleResponse
          }
        );
      }

      function setup() {
        $('#fname').focus();
        $('#fname').on('input', getResults);
        $('#lname').on('input', getResults);
        $('#key').on('input', getResults);
        $('#order').on('input', getResults);
        getResults();
      }

      $('document').ready(setup);

    </script>
</body>

</html>