<!DOCTYPE html>
<html>
{%include 'nav.html'%}
<head>
    <title>Standup NLP</title>
    <meta name="viewport"
           content="width=device-width, initial-scale=1">
      
     <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
    <center class="col-sm">
        <h1>Welcome to my Standup NLP Project Site!</h1>
        <br>
        <br>
        <p style='font-size:20px; text-indent:40px; text-align:center;'>
        My Independent work project during the Fall 2020 semester was analyzing
        language differences across age, race, and gender categories within standup comedy.</p>
        <br>
        <p style='font-size:20px; text-indent:40px; text-align:center;'>
        Big thanks to my faculty advisor, Dr. Christiane Fellbaum!
        <br><br>
        View my presentation (linked below) for a more detailed walkthrough of the why and how of my project.
        </p>
        <br>
        <iframe width="420" height="345" src="https://www.youtube.com/embed/LBowtcOoXWY"></iframe>
    </center>
</body>
{%include 'footer.html'%}
</html>