<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>Standup NLP</title>
</head>

<body>
    {% include 'nav.html' %}
</body>

<div class="column">
    <div class="container bg-primary" style='border-radius:10px'>
         <center>
        <h1>Comedian Similarity Plot</h1>
        </center>
    </div>
    <br>
    <div class='container'>
    <p style='font-size:20px; text-align:center;'>
    Using word usage information (tf-idf matrix), I generated a 3D coordinate (using PCA) for each comedian,
    while preserving the relationships between comedians as much as possible.
    </p>
    <br>
    {%include 'com_plot.html'%}
    </div>
</div>
{%include 'footer.html'%}
</html>