<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>Standup NLP</title>
</head>

<body>
    {% include 'nav.html' %}
</body>

<div class="column">
    <div class="container bg-primary" style='border-radius:10px'>
         <center>
        <h1>Word Trends over Time</h1>
        <br>
            <textarea type="text" id="words" placeholder="Enter comma separated words to plot.&#10;
            (e.g. mother, father, family)" rows="4" cols="50" style='color:black'></textarea>
        <h3>Year Range <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" 
                    data-placement="right" title="Lower bound: 1965, Upper bound: 2020"></span></h3>
      <div class="row">
        <div class='col-sm-3'>
        </div>
        <div class='col-sm-3'>
            <h4>From</h4>
            <input type='number' id="lower" step='1' min='1965' max='2020'
                        value="2000" style='color:black; border-radius:4px;'></input>
        </div>
        <div class='col-sm-3'>
            <h4>To</h4>
            <input type='number' id="upper" step='1' min='1965' max='2020'
                        value="2020" style='color:black; border-radius:4px;'></input>
        </div>
      <div class="row">
        <div class='col-sm-4'>
        </div>
        <div class='col-sm-4'>
          <br>
            <button type="button" id='submit' class="btn btn-lg btn-block" id='submit' style="background-color: #cc6600; color: white;border:2px solid black;">Plot Trends</button>
          <br>
        </div>
        </center>
      </div>
      <br>
    </div>
    <br>
    <div class='container'>
    <br>
    </div>
    <span id='plotSpan'></span>
</div>
{%include 'footer.html'%}
<script>
    'use strict';

    function handleResponse(response) {
    $('#plotSpan').html(response);
    }

    let requestRecs = null;

    function getResults() {
        console.log('getting results')
        let url = '/plotTrends';

        let data = {};
        data['words'] = $('#words').val()
        data['lower'] = $('#lower').val()
        data['upper'] = $('#upper').val()

        if (requestRecs != null)
            requestRecs.abort();

        console.log(data)
        requestRecs = $.ajax(
            {
            type: 'POST',
            url: url,
            data: data,
            success: handleResponse
            }
        );
    }

    function setup() {
    $('#submit').on('click', getResults);
    }

    $('document').ready(setup);

    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

</html>